{% extends "imageModifier/base.html" %}

{% block title %}Welcome to your image style{% endblock title %}
{% block style %}{% endblock style %}
{% block script %}{% endblock script %}


{% block bodyID %}body-index{% endblock bodyID %}
{% block menu-index %}active{% endblock %}

{% block mainContent %}
    <h1>Welcome to this website</h1>
    <h2>Advertise directly to people, using stars of the web as ambassadors!</h2>
    <h2>Gain money by representing the companies you love!</h2>

    <p>You can sign in using the menu on the top, or sign up if you don't have an account</p>


{% endblock mainContent %}